@model List<Acme.BookStore.Slides.Slide>
@{
    Layout = null;
}

<div class="header_bottom_right">
    <div class="slider">
        <div id="slider">
            <div id="mover">

                @for (int i = 0; i < Model.Count(); i++)
                {
                    <div id="slide-1" class="slide">
                        <div class="slider-img">
                            <a href="~/images/@Model[i].Name"><img src="~/images/@Model[i].Name" alt="learn more" /></a>
                        </div>
                        <div class="slider-text">
                            <h1>@Model[i].Title<br><span>SALE</span></h1>
                            <h2>Sale @Model[i].Sale% UpTo </h2>
                            <div class="features_list">
                                <h4>@Model[i].Detail</h4>
                            </div>
                            <a href="preview.html" class="button">Shop Now</a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    i++;
                    @if(i == Model.Count()) { break; }

                    <div class="slide">
                        <div class="slider-text">
                            <h1>@Model[i].Title<br><span>SALE</span></h1>
                            <h2>Sale @Model[i].Sale% UpTo </h2>
                            <div class="features_list">
                                <h4>@Model[i].Detail</h4>
                            </div>
                            <a href="preview.html" class="button">Shop Now</a>
                        </div>
                        <div class="slider-img">
                            <a href="~/images/@Model[i].Name"><img src="~/images/@Model[i].Name" alt="learn more" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                }

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>